/* src/components/SeasonList.css */

.season-list {
    margin-top: 20px;
}

.season-card {
    background-color: #333;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.season-card:hover {
    background-color: #444;
}

.season-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.season-card h4 {
    margin: 0;
    font-size: 1.1em;
}

.season-card p {
    font-size: 0.9em;
    color: #b3b3b3;
}
