/* Default Dark Mode */
.show-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #11100f;
    color: #efefe9;
}

.show-detail.light {
    background-color: #efefe9;
    color: #333;
}

.show-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.show-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.show-info {
    flex: 1;
}

.description {
    margin-top: 0;
}

.seasons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.season-card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #be001e;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #11100f;
}

.season-card.light {
    background-color: #efefe9;
    color: #11100f;
    border-color: #be001e;
}

.season-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.season-details {
    padding: 20px;
}

.h4 {
    margin: 0;
    font-size: 1.2rem;
}

.episode-list {
    list-style: none;
    padding: 0;
}

.episode-item {
    border-bottom: 1px solid #efefe9;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.episode-title {
    font-weight: bold;
}

.episode-actions {
    display: flex;
    align-items: center;
}

.play-button {
    background-color: #be001e;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.load-episodes-button {
    background-color: #be001e;
    color: #efefe9;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}


